<ion-header-bar class="bar-stable" style="border-bottom:1px solid #b2b2b2 !important">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backGo()"></a>
    <h1 class="title">双倍返活动</h1>
</ion-header-bar>
<ion-content>
<section id="content" style="background-color:#fef2d8">
	<img src="img/active-back.png" width="100%" alt="" style="border:0">
	<div class="list padding">
	<label class="padding">
      <button class="button button-block button-energized" type="submit" style="background-color:#fdb338" ng-click="goShare()">去分享订单</button>
    </label>
	</div>
</section>
</ion-content>