<ion-header-bar class="bar-stable" style="border-bottom:1px solid #b2b2b2 !important">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backGo()"></a>
    <h1 class="title">账户明细</h1>
</ion-header-bar>
<ion-content>
	<ul class="list">
		<li class="item" style="margin-top:10px;background-color:#fafafa" ng-repeat="item in items">
			<p class="padding-bottom" style="color:#000;font-weight:bold;">{{item.event}}</p>
			<p>金额：{{item.money}}&nbsp;&nbsp;&nbsp;&nbsp;集分宝：{{item.jifenbao}}&nbsp;&nbsp;&nbsp;&nbsp;积分：{{item.jifen}}</p>
			<p><span class="fr">{{item.addtime}}</span></p>
		</li>
	</ul>
	<ion-infinite-scroll on-infinite="load_more()" ng-if="load_over"></ion-infinite-scroll>
</ion-content>