<ion-header-bar class="bar-stable" style="border-bottom:1px solid #b2b2b2 !important">
    <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backGo()"></a>
    <h1 class="title">邀请好友</h1>
</ion-header-bar>
<ion-content>
	<section id="content">
		<img src="img/invitation.jpg" alt="" style="width:100%">
		<div class="list padding">
			<label class="item-input padding" ng-click="copyUrl()">
				<input type="text" value="{{invData.url}}" class="text-center" disabled="disabled" style="border:1px solid #fec198;">
			</label>
			<p class="text-center padding-left padding-right padding-bottom border-bottom-grey">点击链接可复制到剪贴板</p>
		</div>
		<div class="row" style="padding-bottom:40px">
			<div class="col share-friend" style="margin-right:0.3rem" ng-click="webChat()">
				<img src="img/webchat.png" alt=""><span>分享到微信朋友</span>
			</div>
			<div class="col share-friend" ng-click="webChatFriend()" style="margin-left:0.3rem">
				<img src="img/webchat-friend.png" alt=""><span>分享到微信朋友圈</span>
			</div>
		</div>
		<ul class="list">
			<li class="item">
				<p>
					共邀请<span class="assertive">{{friend.total}}</span>位好友，赚取奖励<span class="assertive">{{friend.sum}}</span>元
				</p>
			</li>
		</ul>
		<div class="list padding">
		<label class="padding">
          <button class="button button-block button-stale" type="submit" ng-click="goList()">查看好友列表</button>
        </label>
		</div>
	</section>
</ion-content>