<ion-header-bar class="bar-stable">
   <a class="button icon-left ion-ios-arrow-left button-clear button-dark" ng-click="backGo()"></a>
   <h1 class="title">可及返利教程</h1>
</ion-header-bar>
<ion-content>
<section id="content" class="padding">
	<p class="tutorial-p-title assertive">第一步：复制淘宝商品标题</p>
	<p>在淘宝商品详情页，长按你想购买的商品的标题进行复制，如图：</p>
	<img ng-src="img/tutorial-1.jpg" alt="" class="tutorial-img">
	<p class="tutorial-p-title assertive">第二步：粘贴标题到可及APP搜索并下单</p>
	<p>打开可及返利APP，在搜索框里粘贴并搜索；在查询结果页找到想买的商品（一般在第一个）然后去淘宝跟往常一样下单即可。如图：</p>
	<img ng-src="img/tutorial-2.jpg" alt="" class="tutorial-img">
	<p class="tutorial-p-title assertive">第三步：确认收货后回可及拿返利</p>
	<p>在淘宝确认收货半小时后，返利到账可及返利账户内。之后你可以随时将这笔收入提现到你的支付宝。</p>
</section>
</ion-content>