<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  
  <ion-tab title="首 页" icon-off="ion-new-home" icon-on="ion-new-home-off" href="#/tab/index">
    <ion-nav-view name="tab-index"></ion-nav-view>
  </ion-tab>

  <ion-tab title="淘宝返利" icon-off="ion-new-tf" icon-on="ion-new-tf-off" href="#/tab/taobao">
    <ion-nav-view name="taobao"></ion-nav-view>
  </ion-tab>

  <ion-tab title="折买好货" icon-off="ion-new-zhemai" icon-on="ion-new-zhemai-off" ng-click="goZhemai()">
    <ion-nav-view name="zhemai"></ion-nav-view>
  </ion-tab>

   <ion-tab title="我的可及" icon-off="ion-new-user" icon-on="ion-new-user-off" href="#/tab/user">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
