<ion-view title="投诉维权">
    <ion-content has-header="true" has-bouncing="true">
        <form form-produce="formControls.conf">
            <div class="list">
                <label class="item item-input">
                    <textarea class="complain-textarea" placeholder="投诉意见" input-produce="formControls.content" ng-model="formControls.model.content"></textarea>
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-balanced">发送投诉意见</button>
            </div>
        </form>
    </ion-content>
</ion-view>
