<ion-view title="简介">
    <ion-content has-header="true" has-bouncing="true" padding="true">
        <p>
        我们是一支充满朝气、团结、向上的年轻队伍，我们有远大的理想和长久的规划，我们有激情，我们追求卓越，我们执着向前，专业技能和完善的管理体系，以服务奉化为宗旨，以让用户满意为目标，互相配合，确保每个环节的信息畅通无阻，圆满完成客户的定单要求。……您的满意是我们最大的成功。
        </p>
        <p>
        我们从奉化出发，准备走向全国，乃至全球，为了您可以足不出户，更轻松的享受互联网发展所带来的便捷和成果，立足岗位，永争一流，用青春的誓言，扎实的行动，为奉化100发展作出更大的贡献我们将一直努力……。
        </p>
        <p>
        一年之计在于春，我们奉化100在此季迈出新的一步，“效率成就品脾，诚信铸就未来”。奉化本着为广大用户提供最优质、最快捷的服务一体化而不懈努力着……
        </p>
    </ion-content>
</ion-view>
