<ion-view title="跑腿">
    <ion-content has-header="true" has-bouncing="true">
        <div class="padding errands">
            <h3>
                代购服务：
            </h3>
            <p>
                肯德基、绝味，街头小吃等各类快餐、日常用品、电影票、旅游门票及各类车票和机票。
            </p>
            <h3>
                取送服务：
            </h3>
            <p>
                文件、邮件、礼品、包裹、鲜花、蛋糕、信件、样品等各类物品。
            </p>
            <h3>
                代缴：
            </h3>
            <p>
                水费、电费、电话费、游戏币等。
            </p>
            <h3>
                其他服务：
            </h3>
            <p>
                代人道歉、表白、派送喜帖、挂号排队
            </p>
            <p>
                欢迎致电0574-88591010
            </p>
            <p>
                奉化100竭诚为您服务！
            </p>
        </div>
    </ion-content>
</ion-view>
