<div class="modal">
    <form form-produce="searchControls.conf" ng-submit="showLoading()">
        <div class="bar bar-header item-input-inset main-search-navbar">
            <div class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input name="keyword" type="search" title="Search" placeholder="搜索店铺、外卖、超市商品..." input-produce="searchControls.search" ng-model="searchControls.models.search" return-blur one-key-clear-input/>
            </div>
            <button type="button" class="button button-clear button-positive" ng-click="closeModal(1)">取消</button>
        </div>
    </form>
    <div class="button-bar search-type-bar" ng-hide="listType == null">
        <a class="button button-small" ng-class="{'active': listType == 1}" ng-click="changeListType(1)">外卖</a>
        <a class="button button-small" ng-class="{'active': listType == 2}" ng-click="changeListType(2)">超市</a>
        <a class="button button-small" ng-class="{'active': listType == 0}" ng-click="changeListType(0)">店铺</a>
    </div>
    <ion-content class="search-content has-header" has-bouncing="true">
        <ul class="list store-items" ng-show="listType == 1">
            <li ng-repeat="item in searchResults.store_items">
                <a ng-href="#/tab/carryout/{{ item.store_id }}?groupId={{ item.group_id }}&goodsId={{ item.id }}" class="item item-icon-right" ng-click="closeModal(1)">
                    <img cache-src="{{ item.image }}" alt="" class="store-item-pic" />
                    <span class="store-item-info">
                        <h5 ng-bind="item.name"></h5>
                        <em>价格:</em><br/>
                        <strong ng-bind="'￥' + item.price"></strong>
                    </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
            </li>
            <li class="item" ng-if="!searchResults.store_items.length">
                抱歉，暂无相关外卖商品。
            </li>
        </ul>
        <ul class="list store-items" ng-show="listType == 2">
            <li ng-repeat="item in searchResults.market_items">
                <a href="#/tab/market?groupId={{ item.group_id }}&goodsId={{ item.id }}" class="item item-icon-right" ng-click="closeModal(1)">
                    <img cache-src="{{ item.image }}" alt="" class="store-item-pic" />
                    <span class="store-item-info">
                        <h5 ng-bind="item.name"></h5>
                        <em>价格:</em><br/>
                        <strong ng-bind="'￥' + item.price"></strong>
                    </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
            </li>
            <li class="item" ng-if="!searchResults.market_items.length">
                抱歉，暂无相关超市商品。
            </li>
        </ul>
        <ul class="list store-items hot-store-list" ng-show="listType == 0">
            <li ng-repeat="store in searchResults.stores">
                <a ng-href="#/tab/carryout/{{ store.id }}" class="item item-icon-right" ng-class="{'not-business': !store.is_business}" ng-click="closeModal(store.is_business);store.is_business || $event.preventDefault()">
                    <div class="store-item-pic" saled="{{ '已售 ' + store.sales + ' 份' }}">
                        <img cache-src="{{ store.logo }}" alt="" ng-class="{'no-image': !store.logo}" />
                    </div>
                    <span class="store-item-info">
                        <h5 ng-bind="store.name"></h5>
                        <em>{{ store.start_at + '~' + store.end_at }} {{ store.extra_start_at?store.extra_start_at + '~' + store.extra_end_at:'' }}</em><br/>
                        <strong ng-bind="store.short_desc"></strong>
                    </span>
                    <i class="icon ion-ios7-arrow-right"></i>
                </a>
            </li>
            <li class="item" ng-if="!searchResults.stores.length">
                抱歉，暂无相关店铺。
            </li>
        </ul>
    </ion-content>
</div>